/* COLORS */
:root {
    --main-white: #fcfbfc;
    --main-color: #355C7D;
    --main-color-darker: #223b51;
    --highlight: #F67280;
    --peach: #F8B195;
}

/* BASE STYLES */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.15;
    background: linear-gradient(270deg, #c06c84, #6c5b7b);
    background-size: 800% 800%;
    -webkit-animation: gradientPulse 60s ease infinite;
    -moz-animation: gradientPulse 60s ease infinite;
    animation: gradientPulse 60s ease infinite;
    position: relative;
    color: var(--main-white);
}
p {
    line-height: 1.6;
    font-weight: 400;
}
a {
    text-decoration: none;
    color: var(--main-white);
}
ul {
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
    font-weight: 400;
}

/* UTILITIES */
.highlight {
    color: var(--highlight);
    font-weight: bold;
}
.hidden {
    opacity: 0;
    transition: all .6s;
}
.show {
    opacity: 1;
}

/* NAV */
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
}
.nav-list {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
    transition: all 0.3s;
}
.nav-lead {
    width: 12rem;
    z-index: 99;
    font-weight: 500;
}
.nav-item {
    font-size: 1rem;
    margin: .5rem 0;
}
.nav-item a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: var(--main-white);
    transition: width .3s;
}
.nav-item a:hover::after {
    width: 100%;
}

.theme-btn {
    font-size: 1rem;
}

/* HAMBURGER */
.hamburger {
    display: block;
    cursor: pointer;
    z-index: 99;
    transition: 0.3s;
}


.hamburger.active .bar:nth-child(2) {
    transform: translateY(8px) rotate(45deg);
    opacity: 0;
}
.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: var(--main-white);
}
.bar:nth-child(2) {
    width: 15px;
    margin-right: 0;
}

.mobile-nav {
    position: absolute;
    opacity: 0;
    top: -10%;
    left: 0;
    width: 100%;
    max-width: 640px;
    min-height: 10vh;
    display: block;
    z-index: 98;
    background-color: var(--main-color-darker);
    padding-top: 70px;
    padding-bottom: 20px;
    transition: 0.3s;
}
.mobile-nav.active {
    top: 0;
    opacity: 1;
}
.mobile-nav-list {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: .5rem;
    padding: 0 2rem;
}
.mobile-nav-item {
    font-size: 1rem;
    border-radius: 5px;
}

/* CONTAINER */
.container {
    width: 100%;
    max-width: 640px;
    padding: 0 2rem;
    margin: 0 auto;
    z-index: 99;
}
.section-heading {
    font-weight: 500;
    font-size: 1.5rem;
    margin: .8rem 0;
}
.section-heading:nth-child(6) {
    margin-bottom: 0;
}

/* BUBBLES */
.bubbles {
    position: relative;
    height: 100%;
    width: 100%;
    z-index: -100;
    left: -110px;
    transform: scale(.8);
}
.bubble-left {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: var(--peach);
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    top: -100px;
    left: 100px;
    opacity: .2;
    animation: morphBubbleLeft 20s ease-in-out infinite;
}
.bubble-middle {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: var(--peach);
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    opacity: .2;
    top: -100px;
    left: 180px;
    animation: morphBubbleMiddle 20s ease-in-out infinite;
}
.bubble-right {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: var(--peach);
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    opacity: .2;
    top: -80px;
    left: 350px;
    animation: morphBubbleRight 20s ease-in-out infinite;
}

/* BIO */
.bio {
    padding-top: 7rem;
    z-index: 99;
}
.bio-heading {
    font-weight: 500;
    font-size: 3rem;
    letter-spacing: -.15rem;
    margin-top: 3rem;
    z-index: 100;
}
.bio-blurb {
    margin-bottom: 1rem;
}
.bio-link {
    margin: 1rem 0;
}

/* PROJECTS */
.project-wrapper {
    display: flex;
    flex-direction: column;
}
.project-heading-wrapper {
    display: flex;
    align-items: center;
}
.project-heading {
    font-weight: 500;
    font-size: 1.2rem;
    margin: 1rem 0;
    color: var(--main-color-darker)
}
.heading-arrow {
    height: 2rem;
    width: 2rem;
    fill: var(--main-white);
    transform: rotate(90deg);
}
.project-container {
    margin-bottom: 2.5rem;
    padding: 1.5rem;
    border-radius: 5px;
    background-color: var(--main-white);
    box-shadow: 0px 2px 5px rgba(0,0,0,.3);
}
.project-container:hover {
    cursor: pointer;
    box-shadow: 0px 2px 10px rgba(0,0,0,.7);
    transform: scale(1.02);
}
.project-container:nth-child(5) {
    margin-bottom: 2rem;
}
.project-img {
    max-width: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.project-info {
    color: var(--main-color);
}
.project-desc {
    font-size: 1rem;
}
.arrow-wrapper {
    display: flex;
    align-items: center;
}
.read-more {
    color: var(--main-color-darker);
    padding-top: 1rem;
    font-size: .8rem;
    font-weight: bold;
}
.arrow-right {
    height: 1.3rem;
    width: 1.3rem;
    margin-top: 1rem;
    margin-left: -.2rem;
    fill: var(--main-color-darker);
}

/* FOOTER */
.footer {
    text-align: center;
    padding: 2rem 0 1rem 0;
    font-size: .7rem;
    opacity: 50%;
}
.icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: .5rem;
}
.icon {
    width: 20px;
    height: 20px;
    margin: 0 .3rem;
    transition: all 0.3s ease;
}
.icon:hover {
    filter: invert(1) sepia(0) saturate(5) hue-rotate(175deg);
}

/* INDIVIDUAL PROJECTS */
.project-single {
    margin: 3rem 0 1rem 0;
}
.heading-img {
    max-width: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.button-group {
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
}
.btn-icon {
    fill: var(--main-white);
    height: .8rem;
    width: .8rem;
}
.btn {
    background-color: var(--main-color-darker);
    color: var(--main-white);
    padding: 1rem;
    border-radius: 5px;
    transition: background-color .3s ease;
}
.btn:first-child {
    margin-right: 1rem;
}
.btn:hover {
    background-color: var(--main-color);
}
.btn:active {
    box-shadow: inset 0 3px 4px hsla(0, 0%, 0%, 0.4);
}

/* MEDIA QUERIES */
@media screen and (min-width: 418px) {
    .bubbles {
        position: relative;
        height: 100%;
        width: 100%;
        z-index: -100;
        left: -60px;
        transform: scale(1);
    }
}

@media screen and (min-width: 640px) {
    .bubbles {
        position: relative;
        height: 100%;
        width: 100%;
        z-index: -100;
        left: 0;
    }

    .nav-list {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        position: static;
        opacity: 1;
        gap: .7rem;
        top: 0;
        left: 0;
    }
    .hamburger {
        display: none;
    }
    .mobile-nav {
        display: none;
    }


    .project-wrapper {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: space-between;
        gap: 1rem;
    }
    .project-heading {
        margin-top: 0;
    }
    .project-info {
        padding-top: 0;
    }
    .img-wrapper {
        max-width: 50%;
    }

    .heading-img {
        max-width: 120%;
        object-fit: cover;
        border-radius: 5px;
        margin-left: -3.5rem;
    }
}

/* KEYFRAMES */
@keyframes morphBubbleMiddle {
    0% {
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
        top: -100px;
        left: 180px;
    }
    50% {
        border-radius: 80% 20% 46% 54% / 64% 75% 25% 36%;
        top: -30px;
        left: 190px;
    }
    75% {
        border-radius: 25% 75% 46% 54% / 51% 34% 66% 49%;
        top: -55px;
        left: 200px;
    }
    100% {
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
        top: -100px;
        left: 180px;
    }
}

@keyframes morphBubbleLeft {
    0% {
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
        top: -100px;
        left: 100px;
    }
    50% {
        border-radius: 41% 59% 57% 43% / 66% 56% 44% 34%;
        top: -70px;
        left: 80px;
    }
    75% {
        border-radius: 71% 29% 44% 56% / 47% 56% 44% 53%;
        top: -60px;
        left: 75px;
    }
    100% {
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
        top: -100px;
        left: 100px;
    }
}

@keyframes morphBubbleRight {
    0% {
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
        top: -80px;
        left: 350px;
    }
    50% {
        border-radius: 24% 76% 65% 35% / 49% 58% 42% 51%;
        top: -70px;
        left: 340px;
    }
    75% {
        border-radius: 24% 76% 44% 56% / 66% 25% 75% 34%;
        top: -65px;
        left: 360px;
    }
    100% {
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
        top: -80px;
        left: 350px;
    }
}

@-webkit-keyframes gradientPulse {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes gradientPulse {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes gradientPulse {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}