/* COLORS */
:root {
    --beige: #F4F1DE;
    --terra-cotta: #E07A5F;
    --jacarta: #3D405B;
    --morning-blue: #81B29A;
    --peach-orange: #F2CC8F;
}

/* BASE STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-width: 100vw;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.15;
}
p {
    line-height: 1.6;
    font-weight: 400;
}
a {
    text-decoration: none;
    color: var(--beige);
}
ul {
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
    font-weight: 400;
}

/* DARK/LIGHT */
.dark-theme {
    background-color: var(--jacarta);
    color: var(--beige);
}
.light-theme {
    background-color: var(--beige);
    color: var(--jacarta);
}

/* NAV */
.nav-list {
    height: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: .7rem;
}
.nav-lead {
    margin-right: auto;
}

/* CONTAINER */
.container {
    width: 100%;
    max-width: 640px;
    padding: 0 2rem;
    margin: 0 auto;
    border: 2px solid red;
}
.section-heading {
    font-weight: 500;
    font-size: 1.5rem;
}

/* BIO */
.bio-heading {
    font-weight: 500;
    font-size: 3rem;
    letter-spacing: -.15rem;
}

/* PROJECTS */
.project-heading {
    font-weight: 500;
    font-size: 1.2rem;
}

/* FOOTER */
.footer {
    text-align: center;
}