/* COLORS */
:root {
    --text-white: #fcfbfc;
}

/* BASE STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-width: 100vw;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.15;
    background: rgb(248,177,149);
    background: linear-gradient(180deg, rgba(248,177,149,1) 0%, rgba(246,114,128,1) 19%, rgba(192,108,132,1) 30%, rgba(108,91,123,1) 48%, rgba(35,41,70,1) 100%);
    color: var(--text-white);
}
p {
    line-height: 1.6;
    font-weight: 400;
}
a {
    text-decoration: none;
    color: var(--text-white);
}
ul {
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
    font-weight: 400;
}

/* DARK/LIGHT */


/* NAV */
.nav {
    padding: 1rem 0;
}
.nav-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: .7rem;
}
.nav-lead {
    margin-right: auto;
}
.nav-item {
    font-size: 1rem;
}
.theme-btn {
    font-size: 1rem;
}

/* CONTAINER */
.container {
    width: 100%;
    max-width: 640px;
    padding: 0 2rem;
    margin: 0 auto;
    background-color: rgba(53, 92, 125, .5);
}
.section-heading {
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: .8rem;
}

/* BIO */
.bio-heading {
    font-weight: 500;
    font-size: 3rem;
    letter-spacing: -.15rem;
}
.bio-link {
    margin: 1rem 0;
}

/* PROJECTS */
.project-wrapper {
    display: flex;
    flex-direction: column;
}
.project-heading {
    font-weight: 500;
    font-size: 1.2rem;
    margin: 1rem 0;
}
.project-container {
    margin-bottom: 2.5rem;
    padding: 1.5rem;
    border-radius: 5px;
}
.project-container:nth-child(5) {
    margin-bottom: 2rem;
}
.project-img {
    max-width: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.project-desc {
    font-size: 1rem;
}
.read-more {
    padding-top: 1rem;
}

/* FOOTER */
.footer {
    text-align: center;
    padding: 1rem 0;
}

/* MEDIA QUERIES */
@media screen and (min-width: 640px) {
    .project-wrapper {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: space-between;
        gap: 1rem;
    }
    .project-heading {
        margin-top: 0;
    }
    .project-info {
        padding-top: 0;
    }
    .img-wrapper {
        max-width: 50%;
    }
}